# This is the sink internal token, its used for administartive non-user actions like creating accounts, sending emails, creating sessions, etc.
SINK_INTERNAL_SECRET="_"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_REDIRECT_URI="http://localhost:5173/auth/github"
